@import "../../constants.css";

.anime-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.link {
  text-decoration: none;
  color: var(--pale-blue-color);
}

.anime-card {
  width: 50%;
  border: 1px solid var(--transparent-grey-color);
  border-left: 0;
  border-bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 0px;
  box-sizing: border-box;
  position: relative;
  & .badge {
    position: absolute;
    margin: 5px;
    background: var(--transparent-darker-grey-color);
    color: var(--darker-white-color);
    padding: 5px 10px;
    border-radius: 20px;
    font-size: var(--extra-small-font);
    font-weight: 600;
  };
  & img {
    height: 300px;
    object-fit: cover;
  };
  & h2 {
    font-size: var(--small-font);
    font-weight: 600;
  };
  & .score {
    font-size: var(--extra-large-font);
    color: var(--orange-color);
  };
  & .tag {
    font-size: var(--extra-small-font);
    display: inline-block;
    margin: 1px;
    padding: 3px 7px;
    background-color: var(--grey-color);
    color: var(--white-color);
    border-radius: 20px;
  }
}
