:root {
  --header-color: #446CB3;
}

.app {
  text-align: center;
  padding-top: 100px;
}

.app-header {
  background-color: var(--header-color);
  height: auto;
  box-shadow: 0px 1px 1px 1px rgba(0,0,0, 0.2);
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
  justify-content: space-between;
}

.app-logo {
  text-transform: uppercase;
  font-size: 1.5rem;
  & .first {
    color: white;
  }
  & .second {
    color: #F0F0F0;
  }
}

.app-intro {
  font-size: large;
  height: 1500px;
}
