:root {
  --header-color: teal;
}

.app {
  text-align: center;
}

.app-header {
  background-color: var(--header-color);
  height: auto;
  padding: 20px;
  color: white;
}

.app-intro {
  font-size: large;
}
